pyrogram==2.0.97
tgcrypto
requests 
yt_dlp
youtube_search
redis>=4.2
pytz
#googletrans==3.1.0a0 
hijri_converter
#getids
akinator 
pySmartDL
pysocket
py-cpuinfo
psutil
uuid
SpeechRecognition
pydub
gTTS
ffprobe
pillow 
mutagen
wget
shazamio
pytio
telegraph
meval==2.5
httpx[http2]>=0.18.1,<1.0.0
aiohttp
aiofiles
python-arq
kvsqlite
python-dotenv
